
<div id="carouselExampleSlidesOnly" style="height: 75vh" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 100vh">
    <div class="carousel-item active" style="height: 80vh">
      <img src="../../assets/IMAGES/AESAT1.png" style="height: 80vh" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 80vh">
      <img src="../../assets/IMAGES/AESAT2.jpg" style="height: 80vh" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 80vh">
      <img src="../../assets/IMAGES/AESAT3.jpg" style="height: 80vh" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" style="height: 80vh">
      <img src="../../assets/IMAGES/Tunis.jpg" style="height: 80vh" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<!--
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/IMAGES/AESAT1.png" class="d-block w-100 imcar" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/IMAGES/AESAT2.jpg" class="d-block w-100 imcar" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/IMAGES/AESAT3.jpg" class="d-block w-100 imcar" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/IMAGES/Tunis.jpg" class="d-block w-100 imcar" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->
