<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/IMAGES/AESAT1.png" alt="" width="65px" class="d-inline-block align-top" style="border-radius: 50px">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12"><h1><b>AESAT</b></h1></div>
            <div class="col-md-12" style="margin-top: -10%">
              <p>Association des Etudiants et<br> Stagiaire Africain en Tunisie</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -2%">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link menu1 active" aria-current="page" href="#Accueil">Accueil</a>

        </li>
        <li class="nav-item">
          <a class="nav-link menu2 active" aria-current="page" href="#">Activités de l'entreprise</a>

        </li>
        <li class="nav-item">
          <a class="nav-link menu3 active" aria-current="page" href="#">Organigramme de l'entreprise</a>

        </li>
        <li class="nav-item">
          <a class="nav-link menu4 active" aria-current="page" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
