<div class="col-md-12 prest d-flex justify-content-center">
  <h1> Presentation Générale de l'AESAT </h1>
</div>
<div id="container">
  <div class="row mt-8 col-md-12 d-flex justify-content-center">
    <p> Bonjour chers tous,<br>
      Nous allons ici vous présentez en général ce que c'est que l'AESAT ainsi que ses missions et ses objectifs </p>
  </div>
</div>
<!--------------Survolant--------------->
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 title d-flex justify-content-center mb-5">
      <div class="blockstyle">
        <div class = "hovereffect">
          <img class = "img-responsive imgstyle" src ="../../assets/IMAGES/Photo7.jpg" alt = "">
          <div class = "overlay">
            <h2> Communauté </h2>
            <p>
              <a class="btnstyle" href="#"> LIEN ICI </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 title d-flex justify-content-center mb-5">
      <div class="blockstyle">
        <div class = "hovereffect">
          <img class = "img-responsive imgstyle" src ="../../assets/IMAGES/Photo1.jpg" alt = "">
          <div class = "overlay">
            <h2> Sport </h2>
            <p>
              <a class="btnstyle" href="#"> LIEN ICI </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 title d-flex justify-content-center mb-5">
      <div class="blockstyle">
        <div class = "hovereffect">
          <img class = "img-responsive imgstyle" src ="../../assets/IMAGES/Photo3.jpg" alt = "">
          <div class = "overlay">
            <h2> Formation </h2>
            <p>
              <a class="btnstyle" href="#"> LIEN ICI </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 title d-flex justify-content-center mb-5">
      <div class="blockstyle">
        <div class = "hovereffect">
          <img class = "img-responsive imgstyle" src ="../../assets/IMAGES/Photo4.jpg" alt = "">
          <div class = "overlay">
            <h2> Partenaires </h2>
            <p>
              <a class="btnstyle" href="#"> LIEN ICI </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 title d-flex justify-content-center mb-5">
      <div class="blockstyle">
        <div class = "hovereffect">
          <img class = "img-responsive imgstyle" src ="../../assets/IMAGES/Photo5.jpg" alt = "">
          <div class = "overlay">
            <h2> Cellule<br>Féminine </h2>
            <p>
              <a class="btnstyle" href="#"> LIEN ICI </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 title d-flex justify-content-center mb-5">
      <div class="blockstyle">
        <div class = "hovereffect">
          <img class = "img-responsive imgstyle" src ="../../assets/IMAGES/Photo6.jpg" alt = "">
          <div class = "overlay">
            <h2> Autres </h2>
            <p>
              <a class="btnstyle" href="#"> LIEN ICI </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="subscribe" style="margin-top: -3%">
  <div class="row" style="margin-top: 50px;"><div class="col-md-12"><h3 style="text-align: center">SUBSCRIBE<br><font size="3" style="text-align: center; margin-top: -5px;">Sign-up to our newsletters</font></h3></div></div>
  <div class="row">
    <div class="col-md-12">
      <form class="d-flex justify-content-center">
        <input name="email" type="email" placeholder="Enter your email" id="champ" class="col-xs-15">
        <button name="valid" type="submit" value="" class="btn" id="butt">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
